*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:
#050505;

color:
white;

font-family:
Inter,
sans-serif;

}

.hero{

min-height:
100vh;

display:
flex;

flex-direction:
column;

justify-content:
center;

align-items:
center;

padding:
40px;

text-align:
center;

}

h1{

font-size:
6rem;

line-height:
0.9;

font-weight:
700;

letter-spacing:
-4px;

}

p{

margin-top:
20px;

opacity:
.7;

font-size:
18px;

}

textarea{

margin-top:
60px;

width:
100%;

max-width:
700px;

height:
180px;

background:
rgba(
255,
255,
255,
0.03
);

border:
1px solid
rgba(
255,
255,
255,
0.08
);

color:
white;

padding:
20px;

border-radius:
20px;

}

button{

margin-top:
20px;

padding:
18px
40px;

background:
white;

border:
0;

cursor:
pointer;

border-radius:
999px;

}

button:hover{

transform:
translateY(
-2px
);

}
